/* src/App.css */

/* Global reset */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap');


body, html, #root {
  margin: 0;
  height: 100%;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  /* overflow: hidden; */
}

h1
{
  font-size: 3rem;
}

h2
{
  font-size: 2rem;
}

/* Container */
.app-container {
  font-family: sans-serif;
  color: black;
  border-style:outset;
  border: none;
}

/* Fixed Top Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: #F1F2F2;
  border: 1px solid black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 3rem;
  z-index: 10;
}

.achievement
{
  padding: 10px;
  display: flex;
  align-items: center;
  color: black;
  justify-content: space-between;
  gap: 4px;
  border-radius:40px;
  border: black solid 1px;
}

/* Layout wrapper (below navbar) */
.layout {
  display: flex;
  margin-top: 100px;
}

/* Fixed Sidebar */
.sidebar {
  position: fixed;
  top: 100px;
  left: 0;
  width: 200px;
  height: calc(100% - 100px);
  background: #F1F2F2;
  border: 1px solid black;
  padding: 1rem;
  overflow-y: auto;
}

/* Content area */
.content {
  margin-left: 200px; /* push right of sidebar */
  padding: 10rem;
  flex: 1;
  /* min-height: calc(100vh - 100px); */
  background: #F1F2F2;
  /* border: 1px solid black; */
  overflow-y: auto;
}

.navbutton
{
  width: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: black 1px solid;
  border-radius: 40px;
  cursor: pointer;
}
.navbutton:hover
{
  background-color: #cdd2d2;
}

.achievementbadge
{
  max-width: 300px;
  width: 100%;
   z-index: 9;
   /* animation: aUnlocked 500ms forwards;
  animation-timing-function: cubic-bezier(0.71, 0, 0.17, 1.25); */
  
}

@keyframes aUnlocked {
  from
  {
    transform: scale(0.5) rotate(45deg);
    opacity: 0;
  }
  
  to
  {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}